/* OVERLAYS
/////////////////////////////////////////////////////////////////*/
/* COLORS
/////////////////////////////////////////////////////////////////*/
$YlOrRd-1: rgba(255, 255, 178, 1);
$YlOrRd-2: rgba(254, 217, 118, 1);
$YlOrRd-3: rgba(254, 178, 76, 1);
$YlOrRd-4: rgba(253, 141, 60, 1);
$YlOrRd-5: rgba(240, 59, 32, 1);
$YlOrRd-6: rgba(189, 0, 38, 1);

.layer {
  .county {
    fill-opacity: 0;
    stroke: #000;
    stroke-width: 1px;
    stroke-opacity: .08;
    
    #map.show_counties & {
      fill: white;
      fill-opacity: 0.8;
    }
  }
  path {
    fill: white;
    fill-opacity: .8;
    
    &.vorgehen_0 {
      fill: $YlOrRd-1;
      }
    &.vorgehen_2 {
      fill: $YlOrRd-2;
    }
    &.vorgehen_3 {
      fill: $YlOrRd-3;
    }
    &.vorgehen_5 {
      fill: $YlOrRd-4;
    }
    &.vorgehen_6 {
      fill: $YlOrRd-5;
    }
    &.vorgehen_7 {
      fill: $YlOrRd-6;
    }
    &.vorgehen_8 {
      fill: $YlOrRd-2;
    }
    
    #map.show_counties & {
      fill: black;
    }
    
  }
  
  .icon path {
    fill: black !important;
    fill-opacity: 1 !important;
    
    #map.show_counties & {
      fill: white !important;
    }
  }
}

/* ZOOM INTERFACE
/////////////////////////////////////////////////////////////////*/
.compass{
  cursor: pointer;
}
.compass .back {
  fill: $ui-background-dark-bottom;
  fill-opacity: .9;
}
.compass .fore {
}
.compass .direction {
  fill: none;
}
.compass .chevron {
  stroke-width: 5px;
  stroke: #fff;
  stroke-opacity: 1;
}
.compass .zoom .chevron {
  stroke-width: 2px;
}
.compass .active .chevron,
.compass .chevron.active {
  stroke: #fff;
  fill-opacity: 0.2;
}
.compass:hover .active .direction {
  fill: $ui-background-dark-bottom;
  fill-opacity: 0.2;
}
.compass.active .active .direction {
  fill: $ui-background-dark-bottom;
  fill-opacity: 1;
}
/* TOOLTIPS
/////////////////////////////////////////////////////////////////*/
.tipsy-inner {
  text-align: left !important;
  font-size: 14px !important;
  max-width: 300px !important;
  h3{
    line-height: 1.25;
    margin: .5em 10px;
  }
  p{
    line-height: 1.25;
    margin: 0  10px 1em;
  }
  .type_icon{
    margin: .5em 0;
    height: 50px;
    text-align: center;
    img{
      margin: 0;
    }
  }
}
/* LEGEND
/////////////////////////////////////////////////////////////////*/
.legend_overlay{
  @include pie-clearfix;
  @include background-image(linear-gradient(top, $ui-background-dark-top, $ui-background-dark-bottom));
  @include border-radius(15px);
  @include box-shadow();
  margin: 0 2%;
  width: 96%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  z-index: 10;
  span.label{
    color: $text-superlight;
    display: block;
    float: left;
    margin: 0.5%;
    text-align: center;
  }
  ul.legend{
    @include pie-clearfix;
    float: left;
    margin: 0.5%;
    padding: 0;
    li{
      float: left;
      font-size: 12px;
      list-style: none;
      span.cause {
        @include box-sizing(border-box);
        border-right: 1px solid #000;
        background: #fff;
        display: block;
        text-align: center;
        padding: 2px 0px 4px;
        color: $text-dark;
        text-decoration: none;
      }
      span.action {
        color: $text-superlight;
        display: block;
        padding: 4px 15px 4px;
        text-align: center;
        text-decoration: none;
      }
      &:first-child span.cause{
        @include border-left-radius(12px);
      }
      &:last-child span.cause{
        @include border-right-radius(12px);
        border-right: none;
      }
    }
  }
  &#locations{
    display: none;
    span.label{
      width: 100% / 7 * 1 - 1%;
    }
    ul.legend{
      width: 100% / 7 * 6 - 1%;
      li{
        width: 100% / 6 * 1;
        &:nth-child(1) span.cause{
          @include background-image(linear-gradient(top, $YlOrRd-1, darken($YlOrRd-1, 10%)));
        }
        &:nth-child(2) span.cause{
          @include background-image(linear-gradient(top, $YlOrRd-2, darken($YlOrRd-2, 10%)));
        }
        &:nth-child(3) span.cause{
          @include background-image(linear-gradient(top, $YlOrRd-3, darken($YlOrRd-3, 10%)));
        }
        &:nth-child(4) span.cause{
          @include background-image(linear-gradient(top, $YlOrRd-4, darken($YlOrRd-4, 10%)));
        }
        &:nth-child(5) span.cause{
          @include background-image(linear-gradient(top, $YlOrRd-5, darken($YlOrRd-5, 10%)));
        }
        &:nth-child(6) span.cause{
          @include background-image(linear-gradient(top, $YlOrRd-6, darken($YlOrRd-6, 10%)));
        }
      }
    }
  }
  &#counties{
    display: none;
    bottom: 46px;
    span.label{
      width: 100% / 7 * 1 - 1%;
    }
    ul.legend{
      width: 100% / 7 * 6 - 1%;
      li{
        width: 100% / 6 * 1;
        &:nth-child(1) span.cause{
          @include background-image(linear-gradient(top, $YlOrRd-1, darken($YlOrRd-1, 10%)));
        }
        &:nth-child(2) span.cause{
          @include background-image(linear-gradient(top, $YlOrRd-2, darken($YlOrRd-2, 10%)));
        }
        &:nth-child(3) span.cause{
          @include background-image(linear-gradient(top, $YlOrRd-3, darken($YlOrRd-3, 10%)));
        }
        &:nth-child(4) span.cause{
          @include background-image(linear-gradient(top, $YlOrRd-4, darken($YlOrRd-4, 10%)));
        }
        &:nth-child(5) span.cause{
          @include background-image(linear-gradient(top, $YlOrRd-5, darken($YlOrRd-5, 10%)));
        }
        &:nth-child(6) span.cause{
          @include background-image(linear-gradient(top, $YlOrRd-6, darken($YlOrRd-6, 10%)));
        }
      }
    }
  }
}