/* APPLICATION
/////////////////////////////////////////////////////////////////*/
.application{
  #introduction p{
    float: left;
  }
  .filter{
    float: right;
    li{
      margin-right: 0;
      &:first-child a{
        @include border-right-radius(0);
      }
      &:last-child a{
        @include border-left-radius(0);
      }
    }
  }
  
  svg {
    display: block;
    overflow: hidden;
    height: 600px;
  }
  
}