/* APPLICATION
/////////////////////////////////////////////////////////////////*/
.application{
  #introduction{
    z-index: 100001;
    p{
      float: left;
      position: relative;
    }
  }
  #map{
    position: relative;
    svg {
      display: block;
      overflow: hidden;
    }
  }
  
}