/* MIXIN
/////////////////////////////////////////////////////////////////*/
@mixin ui {
  @include transition();
  @include border-radius(15px, 15px);
  @include background-image(linear-gradient(top, $ui-background-dark-top, $ui-background-dark-bottom));
}

/* BUTTON
/////////////////////////////////////////////////////////////////*/
.button{
  @include ui;
  color: $text-superlight;
  text-align: center;
  padding: 2px 15px 4px;
  & a {
    color: $text-superlight;
    text-decoration: none;
  }
  &:hover a{
    color: $text-superlight;
    text-decoration: none;
  }
}

/* PAGINATION
/////////////////////////////////////////////////////////////////*/
.pagination {
  @include ui;
  list-style: none;
  margin: 0;
  padding: 0px 10px;
  position: absolute;
  min-width: 60px;
  line-height: 1;
  li {
    background: image-url("pagination_sprite.png") 8px 8px no-repeat;
    cursor: pointer;
    @include inline-block;
    height: 30px;
    margin: 0;
    text-indent: -9999px;
    width: 30px;
    zoom: 1;
    &:hover {
      background-position: 8px -42px;
    }
    &:active, &.active {
      background-position: 8px -92px;
    } 
  } 
}

/* FILTER
/////////////////////////////////////////////////////////////////*/
.filter{
  @include pie-clearfix;
  margin: 0;
  padding: 0;
  li{
    float: left;
    list-style: none;
    margin-right: 1em;
    a {
      @include ui;
      @include background-image(linear-gradient(top, $ui-background-light-top, $ui-background-light-bottom));
      text-align: center;
      padding: 2px 15px 4px;
      color: $text-medium;
      text-decoration: none;
      &:hover{
        color: $text-superlight;
        text-decoration: none;
        @include background-image(linear-gradient(top, $ui-background-medium-top, $ui-background-medium-bottom));
      }
      &:active,
      &.active{
        color: $text-superlight;
        text-decoration: none;
        @include background-image(linear-gradient(top, $ui-background-dark-top, $ui-background-dark-bottom));
      }
    }
  }
}