<div id="footer" class="container">
	<div class="row">
		<div class="twelvecol">
			<p>Many thanks for working with us!</p>
			<div class="badge" id="badge_designedby">
        <div class="headline">
          <span>designed by</span>
          <h4>Interactive<br/>Things</h4>
        </div>
      </div>
		</div>
	</div>
</div>