---
slug: "application"
---
<div id="map">
  <div id="locations" class="legend_overlay">
    <span class="label">Umwelteinwirkung</span>
    <ul class="legend">
      <li>
        <span class="cause">nicht definiert</span>
        <span class="action">Vorgehen nicht definiert</span>
      </li>
      <li>
        <span class="cause">unterbunden oder reduziert</span>
        <span class="action">Teilsaniert</span>
      </li>
      <li>
        <span class="cause">mit Abfällen belastet</span>
        <span class="action">Sanierung nicht dringend</span>
      </li>
      <li>
        <span class="cause">möglich</span>
        <span class="action">Voruntersuchung</span>
      </li>
      <li>
        <span class="cause">möglich</span>
        <span class="action">Detailuntersuchung</span>
      </li>
      <li>
        <span class="cause">definiert</span>
        <span class="action">Sanierungsbedarf</span>
      </li>
    </ul>
  </div>
  <div id="counties" class="legend_overlay">
    <span class="label">Umwelteinwirkung</span>
    <ul class="legend">
      <li>
        <span class="cause">sehr gering</span>
      </li>
      <li>
        <span class="cause">gering</span>
      </li>
      <li>
        <span class="cause">mittel 1</span>
      </li>
      <li>
        <span class="cause">mittel 2</span>
      </li>
      <li>
        <span class="cause">hoch</span>
      </li>
      <li>
        <span class="cause">sehr hoch</span>
      </li>
    </ul>
  </div>
</div>