---
slug: "home"
---

<div id="overview" class="container">
  <div class="row top">
    <div class="twelvecol">
      <h2>Overview</h2>
    </div>
  </div>
  <div class="row bottom">
    <div class="fourcol">
      <dl>
        <dt>Project</dt>
        <dd>Swiss Army Contaminated Sites</dd>
        <dt>Context</dt>
        <dd>Make.OpenData.ch Camp</dd>
        <dt>Date</dt>
        <dd>01. October 2011</dd>
      </dl>
    </div>
    <div class="fourcol">
      <p><strong>Brief:</strong> Das Generalsekretariat des Verteidigungsdepartements (VBS) führt ein «Kataster der belasteten Standorte». Darin sind rund schweizweit 1500 problematische Anlagen, Flächen, Abfüllstellen oder Produktionsstätten verzeichnet.</p>
    </div>
    <div class="fourcol last">
      <p><strong>Vision:</strong> Im Rahmen des MakeOpenData Projektes sollen die Daten über den Altlastenbestand der Schweizer Armee einfacher und attraktiver zugänglich gemacht werden. Dabei werden die einzelnen belastenden Standorte auf einer Karte georeferenziert und nach Stärke der Umwelteinwirkung farblich klassifiziert.</p>
    </div>
	</div>
</div>
<div class="container teasers">
  <div class="row top">
    <div class="twelvecol">
      <h2>Deliverable</h2>
    </div>
  </div>
  <div class="row">
    <div class="twelvecol">
      <div class="teaser_row">
        <div class="teaser first" id="teaser_map">
          <div class="headline">
            <span>Swiss Army Contaminated Sites</span>
            <h3>Map</h3>
          </div>
          <span class="button"><a class="icon white_arrow_right" href="application.html">Launch Application</a></span>
        </div>
      </div><!-- .teaser_row -->
    </div>
  </div>
  <div class="row bottom">
    <div class="fourcol">
      <h3 class="icon documentation">Documentation</h3>
      <p>You can find all project relevant documents and files on this website. If there is something you miss, please don't hesitate to contact us.</p>
    </div>
    <div class="fourcol">
      <h3 class="icon technology">Technology</h3>
      <p>The prototype was built completely in HTML and Javascript. To run it, just open index.html in a browser, no webserver is necessary.</p>
    </div>
    <div class="fourcol last">
      <h3 class="icon download">Download</h3>
      <p>
        <a href="https://github.com/interactivethings/swiss-army-contaminated-sites" title="Swiss Army Contaminated Sites on GitHub">Source Code</a>
      </p>
    </div>
  </div>
</div>