---
slug: "index"
---

<div id="overview" class="container">
  <div class="row top">
    <div class="twelvecol">
      <h2>Overview</h2>
    </div>
  </div>
  <div class="row bottom">
    <div class="fourcol">
      <dl>
        <dt>Project</dt>
        <dd>Swiss Army Contaminated Sites</dd>
        <dt>Context</dt>
        <dd>Make.OpenData.ch Camp</dd>
        <dt>Date</dt>
        <dd>Sep 30th – Oct 1st 2011</dd>
      </dl>
    </div>
    <div class="fourcol">
      <p><strong>Brief:</strong> Das Generalsekretariat des Verteidigungsdepartements (VBS) führt ein «Kataster der belasteten Standorte». Darin sind rund schweizweit 1500 problematische Anlagen, Flächen, Abfüllstellen oder Produktionsstätten verzeichnet.</p>
    </div>
    <div class="fourcol last">
      <p><strong>Vision:</strong> Im Rahmen des MakeOpenData Projektes sollen die Daten über den Altlastenbestand der Schweizer Armee einfacher und attraktiver zugänglich gemacht werden. Dabei werden die einzelnen belastenden Standorte auf einer Karte georeferenziert und nach Stärke der Umwelteinwirkung farblich klassifiziert.</p>
    </div>
	</div>
</div>
<div class="container teasers">
  <div class="row top">
    <div class="twelvecol">
      <h2>Application</h2>
    </div>
  </div>
  <div class="row">
    <div class="twelvecol">
      <div class="teaser_row">
        <div class="teaser first" id="teaser_map">
          <div class="headline">
            <span>Swiss Army Contaminated Sites</span>
            <h3>Map</h3>
          </div>
          <span class="button"><a class="icon white_arrow_right" href="application.html">Launch Application</a></span>
        </div>
      </div><!-- .teaser_row -->
    </div>
  </div>
  <div class="row bottom">
    <div class="fourcol">
      <h3 class="icon documentation">Documentation</h3>
      <p>Design documentation is on the <a href="http://makeopendata.ch/doku.php?id=project:swiss_army_contaminated_sites">make.opendata.ch Wiki</a></p>
      <p>For implementation details and license, please refer to the <a href="https://github.com/interactivethings/swiss-army-contaminated-sites/blob/master/README.md">README document</a>.</p>
      <h4>Interactive Things' Contributors</h4>
      <ul>
        <li>Benjamin Wiederkehr (map &amp; UI coding)</li>
        <li>Christian Siegrist (UI design)    </li>
        <li>Christoph Schmid (UI &amp; icon design)</li>
        <li>Peter Gassner (data analysis &amp; wrangling, QGIS taming)</li>
        <li>Jeremy Stucki (data analysis, map &amp; UI coding)</li>
        <li>Flavio Gortana (icon design)</li>
      </ul>
      <h4>Other Contributors</h4>
      <ul>
        <li>Alexander Bernbauer (last-minute data wrangling!)</li>
        <li>Lorenz ? (helped with ideas, some data analysis)</li>
      </ul>
    </div>
    <div class="fourcol">
      <h3 class="icon technology">Technology</h3>
      <p>Some libraries, tools and services we used:</p>
      <ul>
        <li><a href="http://compass-style.org/" title="Compass Home | Compass Documentation">Compass</a></li>
        <li><a href="http://jashkenas.github.com/coffee-script/" title="CoffeeScript">CoffeeScript</a></li>
        <li><a href="http://www.swisstopo.admin.ch/internet/swisstopo/en/home/apps/calc/navref.html" title="swisstopo: NAVREF">NavRef</a></li>
        <li><a href="http://www.swisstopo.admin.ch/internet/swisstopo/en/home/products/software/products/skripts.html" title="">Scripts for WGS84&lt;-&gt;CH1903</a></li>
        <li><a href="http://code.google.com/p/google-refine/" title="google-refine - Google Refine, a power tool for working with messy data (formerly Freebase Gridworks) - Google Project Hosting">Google Refine</a></li>
        <li><a href="http://www.qgis.org/" title="Welcome to the Quantum GIS Project">QGIS</a></li>
        <li><a href="http://polymaps.org/" title="Polymaps">Polymaps</a></li>
        <li><a href="http://cloudmade.com/" title="CloudMade - The Leading Platform for Creating and Monetizing Unique Applications With Location">CloudMade</a></li>
      </ul>
      
      
    </div>
    <div class="fourcol last">
      <h3 class="icon download">Download</h3>
      <p>
        <a href="https://github.com/interactivethings/swiss-army-contaminated-sites" title="Swiss Army Contaminated Sites on GitHub">Source Code</a> on GitHub<br /><a href="https://www.oeffentlichkeitsgesetz.ch/downloads/befreite-dokumente/5/2009_12_18_VBS_Datensammlung%20Belastete_Standorte.xls">Data</a> from <a href="https://www.oeffentlichkeitsgesetz.ch/deutsch/befreite-dokumente/?departement=5">Öffentlichkeitsgesetz.ch</a></p>
    </div>
  </div>
</div>